:root {
    --primary: #5E785A;
    --secondary: #758074;
    --light: #EEF9FF;
    --dark: #091E3E;
    --black: #2a2a2a;
    --silver: #5a5959;
    --gold:linear-gradient(to right, #B27D44 0%, #E8B987  51%, #B27D44  100%);
    --gold2:#E8B987;
    --sage:#788b75;
    --sage-dark:#637361;
    --blue:#0066ff;
    --green:#09b400;
    --red:#b40000;
    --orange:#b46300;
    --yellow:#b4b400;
    --purple:#5700b4;
    --pink:#b400b1;
  }

.btn-grad {
    background-image: linear-gradient(to right, #B27D44 0%, #E8B987  51%, #B27D44  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 30px;
    display: inline-block;
    width: 90%;
    line-height: 26px;
    font-size: 12px;
    font-weight: 500;
    padding: 0 20px;
    border-bottom: #507467 solid 6px;
    cursor: pointer;
}
.btn-grad1 {
    background-image: linear-gradient(to right, #B27D44 0%, #E8B987  51%, #B27D44  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 30px;
    display: block;
    width: 95%;
    line-height: 16px;
    font-size: 12px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
}
.btn-grad3 {
    text-align: left;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;         
    border-radius: 5px;
    display: block;
    width: 95%;
    line-height: 16px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
}
  
.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
  
.btn-grad1:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn-grad4 {
    background-image: linear-gradient(to right, #B27D44 0%, #E8B987  51%, #B27D44  100%);
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 10px #eee;
    border-radius: 30px;
    display: inline-block;
    width: auto;
    line-height: 26px;
    font-weight: 500;
    padding: 0.2% 20%;
    margin-left:25%;
    border-bottom: #507467 solid 6px;
    cursor: pointer;
}

.btn-grad4:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.btn-page{
    background-color: var(--sage);
    padding: 2px;
    border-radius: 10px;
    color: #fff;
    border: none;
    width:30px;
    margin:0px 10px;
}

.btn-sage-4{
    background-color: var(--sage);
    position:relative;

  }
  .btn-sage-4::before {
    background-color:var(--sage-dark);
    font-family: 'Font Awesome 6 Free';
    content: '\f146';
    
    position:absolute;
    color: white;
    width:50px;
    height:100%;
    padding-left:22px;
    padding-right:12px;
    padding-top:4px;
    right:0;
    top:0;
    font-size: large;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 1px 0px #fff;
  }
  .btn-sage-4:active::before {
    top:-2px;
  }

  .btn-overlay-white{
    background-color: #ffffff25;
    border-radius: 5px;
  }
  .btn-overlay-white:hover{
    background-color: #ffffff96;
  }

  .styles_button__u_d5l {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    outline: 0;
    border: 0;
    margin: 0;
    cursor: pointer;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-decoration: none;
    line-height: 1.2;
    font-size: .9375rem;
    letter-spacing: .43px;
    font-weight: 500;
    border-radius: 6px;
    color: hsla(0,0%,100%,.9);
    min-inline-size: 50px;
    text-transform: none;
    padding-block:.625rem;padding-inline:1.25rem;background: linear-gradient(-45deg,#ffa63d,#ff3d77,#338aff,#3cf0c5);
    background-size: 600%;
    animation: styles_anime__f8GJ0 12s linear infinite
}

@keyframes styles_anime__f8GJ0 {
    0% {
        background-position: 0 50%
    }

    50% {
        background-position: 100% 50%
    }

    to {
        background-position: 0 50%
    }
}