@font-face {
  font-family: idgd-font;
  src: url(../web_font/IDGDSans-Book.woff2);
}
.font-poppins{
  font-family: "Poppins", sans-serif;
}
.font-lato {
  font-family: "Lato", sans-serif;
}
.font-idgd {
  font-family: "idgd-font";
}

body,html {
  font-family: "Roboto", sans-serif;
}

:root {
  --primary: #5E785A;
  --secondary: #758074;
  --light: #EEF9FF;
  --dark: #091E3E;
  --black: #2a2a2a;
  --silver: #5a5959;
  --gold:linear-gradient(to right, #B27D44 0%, #E8B987  51%, #B27D44  100%);
  --gold2:#E8B987;
  --sage:#788b75;
  --sage-dark:#4b574a;
  --sage-light:#deffda;
  --blue:#006aff;
  --blue-light:#009dff;
  --sky:#0380a2;
  --sky-light:#03a1cc;
  --tosca:#06858c;
  --tosca-light:#05a6af;
  --tosca-light2:#02acb5;
  --green:#09b400;
  --green-light:#00ff5a;
  --red:#b40000;
  --red-light:#ff0000;
  --orange:#ff8c00;
  --orange2:#ff8c00;
  --orange-light:#ff9d00;
  --yellow:#ffea00;
  --mustard:#ffd000;
  --purple:#5700b4;
  --pink:#b400b1;
}

.text-sage{
    color: var(--sage);
}
.text-sage-dark{
    color: var(--sage-dark);
}
.text-sage-light{
  color: var(--sage-light);
}
.text-blue{
  color: var(--blue);
}
.text-tosca{
  color: var(--tosca);
}
.text-tosca-light{
  color: var(--tosca-light2);
}
.text-green{
  color: var(--green);
}
.text-green-light{
  color: var(--green-light);
}
.text-red{
  color: var(--red);
}
.text-purple{
  color: var(--purple);
}
.text-black{
  color: var(--black);

}
.text-silver{
  color: var(--silver);
}
.text-yellow{
  color:var(--yellow)
}
.text-mustard{
  color:var(--mustard)
}
.text-orange{
  color:var(--orange2)
}
.text-orange-light{
  color:var(--orange-light)
}
.text-gold{
  color:var(--gold)
}

.text-sage-a,.text-blue-a,.text-green-a,.text-red-a,.text-purple-a,.text-black-a,.text-silver-a{
color: var(--black);

  text-decoration:none;
}

.text-sage-a:hover{
  color: var(--sage);
}
.text-blue-a:hover{
color: var(--blue);
}
.text-green-a:hover{
color: var(--green);
}
.text-red-a:hover{
color: var(--red);
}
.text-purple-a:hover{
color: var(--purple);
}
.text-black-a:hover{
color: var(--black);
}
.text-silver-a:hover{
color: var(--silver);
}

.text-sage-a2{
  color: var(--sage);
  font-weight: 600;
  cursor: pointer;
}
.text-sage-a2:hover{
  color: var(--sage-dark);
}

.text-tosca-a2{
  color: var(--tosca);
  font-weight: 600;
  cursor: pointer;
}
.text-tosca-a2:hover{
  color: var(--tosca-light);
}
.text-sky-a2{
  color: var(--sky);
  font-weight: 600;
  cursor: pointer;
}
.text-sky-a2:hover{
  color: var(--sky);
}
.text-blue-a2{
  color: var(--blue);
  font-weight: 600;
  cursor: pointer;
}
.text-blue-a2:hover{
  color: var(--blue-light);
}

.text-red-a2{
  color: var(--red);
  font-weight: 600;
  cursor: pointer;
}
.text-red-a2:hover{
  color: var(--red-light);
}

.text-white-a{
  color:var(--light);
  text-decoration:none;

}
.text-white-a:hover{
  color:#ffffff
}

.text-silver-a{
  color:var(--silver);
  text-decoration:none;

}
.text-silver-a:hover{
  color:var(--black)
}








  
   /*---------------- FONT SIZE -----------*/
  .fontsize1{
    font-size: 1em;
  }
  
  .textsize5{
    font-size: 50%;
  }
  .textsize6{
    font-size: 60%;
  }
  .textsize7{
    font-size: 70%;
  }
  .textsize8{
    font-size: 80%;
  }
  .textsize9{
    font-size: 90%;
  }
  .textsize10{
    font-size: 100%;
  }
  .textsize11{
    font-size: 110%;
  }
  .textsize12{
    font-size: 120%;
  }
  .textsize13{
    font-size: 130%;
  }
  .textsize14{
    font-size: 140%;
  }
  .textsize15{
    font-size: 150%;
  }
  .textsize16{
    font-size: 160%;
  }
  .textsize17{
    font-size: 170%;
  }
  .textsize18{
    font-size: 180%;
  }
  .textsize19{
    font-size: 190%;
  }
  .textsize20{
    font-size: 200%;
  }
  
  
  
  /*---------------- FONT WEIGHT -----------*/
  .font_weight400{
    font-weight: 400;
   }
   .font_weight500{
     font-weight: 500;
   }
   .font_weight600{
     font-weight: 600;
   }
   .font_weight700{
     font-weight: 700;
   }
   .font_weight800{
     font-weight: 800;
   }
   
   .font_weight{
     font-weight: bold;
     }
  
  /*---------------- FONT ALIGN -----------*/
  .text_align_left{
    text-align: left;
  }
  .text_align_center{
    text-align: center;
  }
  .text_align_right{
    text-align: right;
  }
  .text_justif{
    text-align: justify;
  }
  
  /*---------------- FONT OTHER -----------*/
  
  .font_overlay {
    font-family: 'ManifoldCF-Medium';
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.852), transparent);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
  }
  @keyframes shine {
    0% {
        background-position-x: -500%;
    }
  
    100% {
        background-position-x: 500%;
    }
  }
  
  
  .underline_header{
    text-decoration: underline #666666 5px;
    text-underline-offset: 15px;
    border-radius:0px 0px 35px 35px;
    margin-bottom:20px;
  }
  
  .underline_header_blue{
    text-decoration: underline #084a83 5px;
    text-underline-offset: 15px;
    border-radius:0px 0px 35px 35px;
  }
  .underline_header_green{
    text-decoration: underline #02532d 5px;
    text-underline-offset: 15px;
    border-radius:0px 0px 35px 35px;
  }
  
  .underline_header_red{
    text-decoration: underline #70033a 5px;
    text-underline-offset: 15px;
    border-radius:0px 0px 35px 35px;
  }
  .underline_menu{
    text-decoration: underline #70033a 2px;
    text-underline-offset: 5px;
  }
  
  
  .p_shine {
    background: linear-gradient(
        to right,
        #ffffff 20%,
        #04b0dd 30%,
        #28ba9c 70%,
        #d83c88 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
  }
  .p_shine2 {
    background: linear-gradient(
        to right,
        #ffffff 20%,
        #04b0dd 30%,
        #28ba9c 70%,
        #d83c88 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 3s ease-in-out infinite alternate;
  }
  .p_shine3 {
    background: linear-gradient(
        to right,
        #ffffff 20%,
        #dcdcdc 30%,
        #a5a5a5 70%,
        #eaeaea 80%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 3s ease-in-out infinite alternate;
  }
  @keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
  }

  .uppercaseku{
    text-transform: uppercase;
  }
  .italicku{
     font-style: italic;
  }
  .capitalizeku{
    text-transform: capitalize;
  }

  
  
  .garis3 {
    position: relative;
  }
  .garis3:before {
    content: "";
    display: block;
    width: 88%;
    height: 1px;
    background-color: #e9e9e9;
    left: 2%;
    top:100%;
    position: absolute;
    border-radius: 5px 0px 0px 5px;
  }

  .garis4 {
    position: relative;
  }
  .garis4:before {
    content: "";
    display: block;
    width: 88%;
    height: 1px;
    background-color: #efefef;
    left: 2%;
    top:100%;
    position: absolute;
    border-radius: 5px 0px 0px 5px;
  }
  .garis5 {
    position: relative;
  }
  .garis5:before {
    content: "";
    display: block;
    width: 96%;
    height: 1px;
    background-color: #efefef;
    left: 2%;
    top:100%;
    position: absolute;
    border-radius: 5px 0px 0px 5px;
  }

  .garis6 {
    position: relative;
  }
  .garis6:before {
    content: "";
    display: block;
    width: 20%;
    height: 5px;
    background-color: var(--red);
    left: 30%;
    top:110%;
    position: absolute;
    border-radius: 5px 0px 0px 5px;
  }
  .garis6:after {
    content: "";
    display: block;
    width: 20%;
    height: 5px;
    background-color: var(--sage);
    right: 30%;
    top:110%;
    position: absolute;
    border-radius: 0px 5px 5px 0px;
  }

  .garis7 {
    position: relative;
  }
  .garis7:before {
    content: "";
    display: block;
    width: 99%;
    height: 5px;
    background-color: var(--light);
    left: 1%;
    top:100%;
    position: absolute;
    border-radius: 5px;
  }
  

  .fancy {
    --b: 6px;   /* control the border thickness */
    --w: 80px;  /* control the width of the line*/
    --g: 15px;  /* control the gap */
    --c: rgb(178, 125, 68);
   
    width: fit-content;
    padding: 0 1em;
    line-height: 1.6em;
    /*/background: 
      conic-gradient(from   45deg at left ,var(--c) 25%,#0000 0) 0,
      conic-gradient(from -135deg at right,var(--c) 25%,#0000 0) 100%;
    background-size: 51% 100%;
    background-repeat: no-repeat;*/
    border-image: 
       linear-gradient(
         #0000      calc(50% - var(--b)/2),
         var(--c) 0 calc(50% + var(--b)/2),
         #0000    0) 
      1/0 var(--w)/calc(var(--w) + var(--g));
      
    margin-inline: auto;
  }

  /*** Section Title ***/
.section-title::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 5px;
  left: 0;
  bottom: 0;
  background: #04b0dd;
  border-radius: 2px;
}

.section-title.text-center::before {
  left: 50%;
  margin-left: -75px;
}

.section-title.section-title-sm::before {
  width: 90px;
  height: 3px;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 100px;
  height: 5px;
  bottom: 0px;
  border-radius: 2px;
  background: #a5a4a4;
  -webkit-animation: section-title-run 3s infinite linear;
  animation: section-title-run 3s infinite linear;
}

.section-title.section-title-sm::after {
  width: 4px;
  height: 3px;
}

.section-title.text-center::after {
  -webkit-animation: section-title-run-center 5s infinite linear;
  animation: section-title-run-center 5s infinite linear;
}

.section-title.section-title-sm::after {
  -webkit-animation: section-title-run-sm 5s infinite linear;
  animation: section-title-run-sm 5s infinite linear;
}

@-webkit-keyframes section-title-run {
  0% {left: 45px; } 50% { left : 145px; } 100% { left: 45px; }
}

@-webkit-keyframes section-title-run-center {
  0% { left: 50%; margin-left: -75px; } 50% { left : 50%; margin-left: 45px; } 100% { left: 50%; margin-left: -75px; }
}

@-webkit-keyframes section-title-run-sm {
  0% {left: 0; } 50% { left : 85px; } 100% { left: 0; }
}
  
.titleku {
}

.titleku:before {
  content: '-';
  margin: 0 5px 0 0;
}

.titleku:after {
  content: '-';
  margin: 0 0 0 5px;
}

.cursor-pointer{
  cursor: pointer;
}

.line-hight-1{
  line-height: 1.0em;
}


  