:root {
    --primary: #5E785A;
    --secondary: #758074;
    --light: #EEF9FF;
    --dark: #091E3E;
    --black: #2a2a2a;
    --silver: #5a5959;
    --gold:linear-gradient(to right, #B27D44 0%, #E8B987  51%, #B27D44  100%);
    --gold2:#E8B987;
    --sage:#788b75;
    --sage-light:#cfddcd;
    --blue:#0066ff;
    --sky-light:#c3efff;
    --green:#09b400;
    --red:#b40000;
    --orange:#b46300;
    --yellow:#b4b400;
    --purple:#5700b4;
    --pink:#b400b1;
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }

.overflow-display::-webkit-scrollbar{
    display: none;

}
.overflow-auto{
    overflow: auto;
}
.overflow-auto::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.overflow-xx-auto{
    overflow-x: scroll;
}
.overflow-xx-auto::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.overflow-yy-auto{
    overflow-y: auto;
}
.overflow-yy-auto::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.height-05{
    height: 3vh;
}
.height-10{
    height: 10vh;
    overflow: scroll;

}
.height-10,.height-20,.height-100::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.w-45{
 width:25vh;
}
.w-rem12{
 width:12rem;
}
.w-rem13{
 width:13rem;
}
.w-rem14{
 width:14rem;
}
.w-rem15{
 width:15rem;
}
.w-rem16{
 width:16rem;
}
.w-47{
 width:35vh;
}
.w-48{
 width:40vh;
}

.new-info{
    position: relative;
    overflow: hidden;
    display: inline-block;
    
}
.new-info img{
    overflow: hidden;
    
}
.new-info img:hover {
    transform: scale(1.58);
  }
.new-info .category{
    background-image: linear-gradient(to right, #B27D44 0%, #E8B987  51%, #B27D44  100%);
    text-align: left;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 0px 5px 5px 0px;
    display: inline-block;
    position: absolute;
    left:0;
    top:35%;
    width: auto;
    line-height: 26px;
    font-weight: 500;
    padding: 1% 15%;
    border-bottom: #507467 solid 6px;
    cursor: default;
}
.new-info div{
    display: inline-block;
    position: relative;
    
}
.overflow-hidden{
    overflow: hidden;
}

.margin-b1{
    margin-bottom: 5vh;
}
.margin-b5{
    margin-bottom: 5vh;
}
.margin-b10{
    margin-bottom: 10vh;
}
.margin-b10p{
    margin-bottom: 10%;
}
.margin-b15{
    margin-bottom: 15vh;
}
.margin-b15p{
    margin-bottom: 15%;
}
.margin-b20{
    margin-bottom: 20vh;
}
.margin-b20p{
    margin-bottom: 20%;
}
.margin-t1{
    margin-top: 1vh;
}
.margin-t2{
    margin-top: 2vh;
}
.margin-t3{
    margin-top: 3vh;
}
.margin-t4{
    margin-top: 4vh;
}
.margin-t5{
    margin-top: 5vh;
}

.margin-t10{
    margin-top: 10vh;
}
.margin-t11{
    margin-top: 11vh;
}
.margin-t12{
    margin-top: 12vh;
}
.margin-t15{
    margin-top: 15vh;
}

.margin-logo{
    margin-right:70px
}

.margin--t1{
    margin-top: -1vh;
}
.margin--t2{
    margin-top: -2vh;
}
.margin--t3{
    margin-top: -3vh;
}
.margin--t4{
    margin-top: -4vh;
}
.margin--t5{
    margin-top: -5vh;
}
.margin--t10{
    margin-top: -10vh;
}

.border-rad5{
    border-radius: 5px;
}
.border-rad10{
    border-radius: 10px;
}
.border-rad15{
    border-radius: 15px;
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}
.float-center{
    float: center;
}

.rad5{
    border-radius: 5px;
}
.rad10{
    border-radius: 10px;
}
.rad-bottom10{
    border-radius: 0px 10px;
}
.rad-top10{
    border-radius: 10px 0px;
}
.rad15{
    border-radius: 15px;
}
.rad50s{
    border-radius: 50%;
}
.rad-bottom15{
    border-radius: 0px 15px;
}
.rad-top15{
    border-radius: 15px 0px;
}
.search-label{
    min-width: 100%;
    
}
.img-30{
    height:auto;
    width:30px;
}
.img-40{
    height:auto;
    width:40px;
}
.img-45{
    height:auto;
    width:45px;
}
.img-50{
    height:auto;
    width:50px;
}
.img-60{
    height:auto;
    width:60px;
}
.img-70{
    height:auto;
    width:70px;
}
.img-100{
    height:auto;
    width:100%;
}
.img-50p{
    height:auto;
    width:50%;
}

.svg-1{
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right:5px;
    border-radius: 50%;
    padding: 10px;
}
.svg-2{
    width: 40px;
    height: auto;
}
.svg-3{
    width: 50px;
    height: auto;
}
.max-height1{
max-height: 150vh;
overflow: scroll;
}
.max-height1::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.max-height2{
    max-height: 100vh;
}
.max-height3{
    max-height: 80vh;
}

.nav-tabs .nav-item{
    background: #cfcfcf;
background: -webkit-linear-gradient(27deg,rgba(207, 207, 207, 1) 0%, rgba(207, 207, 207, 1) 59%, rgba(232, 232, 232, 1) 58%, rgba(232, 232, 232, 1) 100%);
background: -moz-linear-gradient(27deg,rgba(207, 207, 207, 1) 0%, rgba(207, 207, 207, 1) 59%, rgba(232, 232, 232, 1) 58%, rgba(232, 232, 232, 1) 100%);
background: linear-gradient(27deg,rgba(207, 207, 207, 1) 0%, rgba(207, 207, 207, 1) 59%, rgba(232, 232, 232, 1) 58%, rgba(232, 232, 232, 1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#CFCFCF",
  endColorstr="#E8E8E8",
  GradientType=0
);
    margin:0px 10px;
    border-radius: 15px;
   
}
.nav-link:enabled{
    color: #000;
}

.nav-tabs .nav-item .active{
    background: #587a6e;
background: -webkit-linear-gradient(27deg,#0B486B  0%, #0B486B 59%, #0f6190  58%, #0f6190 100%);
background: -moz-linear-gradient(27deg,#0B486B 0%, #0B486B 59%, #0f6190 58%, #0f6190 100%);
background: linear-gradient(27deg,#0B486B 0%, #0B486B 59%, #0f6190 58%, #0f6190 100%);
filter: progid:DXImageTransform.Microsoft.gradient(
  startColorstr="#587A6E",
  endColorstr="#688C7F",
  GradientType=0
);
    border-radius: 15px;
    color: #fff;
}

.text-search{
    background: var(--sky-light);
    border: 1px solid #cccccc;
    margin: 0;
    padding: 5px 15px;
    width: 100%;
    height: 47px;
    color: rgb(68, 68, 68);
    font-size: 16px;
    line-height: 20px;
}
.dashboard-list{
}
.dashboard-list-image{
   
}
.dashboard-list-image::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.img-linked{
    width:100%;
    height:auto;
}
.border-bottom{
    border-bottom: 1px dotted #ddd;
}
.cursor-true{
    cursor: pointer;
}
.h-100v{
    height:100vh;
}
.h-99v{
    height:99vh;
}
.h-98v{
    height:98vh;
}
.h-97v{
    height:97vh;
}
.h-96v{
    height:96vh;
}
.h-95v{
    height:95vh;
}
.h-90v{
    height:90vh;
}

.h-85v{
    height:85vh;
}

.h-80v{
    height:80vh;
}
.h-7v{
    height:70vh;
}

.h-5v{
    height:5vh;
}
.h-6v{
    height:6vh;
}
.h-7v{
    height:7vh;
}
.h-8v{
    height:8vh;
}
.h-9v{
    height:9vh;
}
.h-10v{
    height:10vh;
}
.h-15v{
    height:15vh;
}
.h-20v{
    height:20vh;
}



/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media (max-width: 575px) {
    .img-item {
        height:100%;
        width:100%;
    }
    .img-first {
        height:50vh
    }
    .height-10{
        height:10vh;
    }
    .height-20{
        height:30vh;
    }
    .height-30{
        height:30vh;
    }
    .title-header{
        padding: 10px 0 2px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 0px;
    }
    .header-logo p{
        margin-bottom: 0px;
        margin-left: 10px;
        text-transform: uppercase;
      }
    .footer-logo p{
        margin-bottom: 2px;
        margin-left: 10px;
      }
    .dashboard-list-content {
        position: sticky;
        top: 20%;
        padding: 10px;
    }
  }
@media (min-width: 576px) {
    .img-item {
        height:auto;
        width:100%;
    }
    .img-first {
        height:60vh
    }
    .height-10{
        height:10vh;
    }
    .height-20{
        height:30vh;
    }
    .height-30{
        height:30vh;
    }
    .title-header{
        padding: 10px 0 2px;
        text-align: center;
        font-weight: 600;
        height: auto;
        margin-bottom: 0px;
    }
    .header-logo p{
        margin-bottom: 0px;
        margin-left: 10px;
        text-transform: uppercase;
      }
     .footer-logo p{
        margin-bottom: -5px;
        margin-left: 10px;
      }
    .dashboard-list-content {
        position: sticky;
        top: 20%;
        padding: 10px;
    }
  }
  
  @media (min-width: 768px) {
    .img-item {
        height:25vh;
        width:100%;
    }
    .img-first {
        width:100%
    }
    .height-10{
        height:10vh;
    }
    .height-20{
        height:30vh;
    }
    .height-30{
        height:30vh;
    }
    .title-header{
        padding: 10px 0 2px;
        text-align: center;
        font-weight: 600;
        height: auto;
        margin-bottom: 0px;
    }
    .header-logo p{
        margin-bottom: 0px;
        margin-left: 10px;
        text-transform: uppercase;
      }
    .dashboard-list-content {
        position: sticky;
        top: 20%;
        padding: 10px;
        height: calc(100vh - 70px);
    }
    .paddingx-5{
        padding-left: 5%;
        padding-right: 5%;
    }
  }
  
  @media (min-width: 992px) {
    .img-item {
        height:25vh;
        width:100%;
    }
    .img-first {
        width:100%
    }
    .height-10{
        height:10vh;
    }
    .height-20{
        height:30vh;
    }
    .height-30{
        height:30vh;
    }
    .height-50{
        height:50vh;
    }
    .height-60{
        height:60vh;
    }
    .height-70{
        height:70vh;
    }
    .height-80{
        height:80vh;
    }
    .height-90{
        height:90vh;
    }
    .height-100{
        height:100vh;
        overflow: scroll;
    }
    .title-header{
        padding: 10px 0 2px;
        text-align: center;
        font-weight: 600;
        height: auto;
        margin-bottom: 0px;
    }
    .header-logo p{
        margin-bottom: -10px;
        margin-left: 10px;
        text-transform: uppercase;
    }
    .dashboard-list-content {
        position: sticky;
        top: 20%;
        padding: 10px;
        height: calc(100vh - 70px);
    }
    .paddingx-5{
        padding-left: 5%;
        padding-right: 5%;
    }
  }
  
  @media (min-width: 1200px) {
    .img-item {
        height:25vh;
        width:100%;
    }
    .img-first {
        width:100%
    }
    .height-10{
        height:10vh;
    }
    .height-20{
        height:30vh;
    }
    .height-30{
        height:30vh;
    }
    .title-header{
        padding: 10px 0 2px;
        text-align: center;
        font-weight: 600;
        height: auto;
        margin-bottom: 0px;
    }
    .header-logo p{
        margin-bottom: -10px;
        margin-left: 10px;
        text-transform: uppercase;
    }
    .dashboard-list-content {
        position: sticky;
        top: 20%;
        padding: 10px;
        height: calc(100vh - 70px);
    }
    .paddingx-5{
        padding-left: 5%;
        padding-right: 5%;
    }
  }
  
  @media (min-width: 1400px) {
    .img-item {
        height:25vh;
        width:100%;
    }
    .img-first {
        width:100%
    }
    .height-10{
        height:10vh;
    }
    .height-20{
        height:30vh;
    }
    .height-30{
        height:30vh;
    }
    .title-header{
        padding: 10px 0 2px;
        text-align: center;
        font-weight: 600;
        height: auto;
        margin-bottom: 0px;
    }
    .header-logo p{
        margin-bottom: -10px;
        margin-left: 10px;
        text-transform: uppercase;
    }
    .dashboard-list-content {
        position: sticky;
        top: 20%;
        padding: 10px;
        height: calc(100vh - 70px);
    }
    .paddingx-5{
        padding-left: 5%;
        padding-right: 5%;
    }
  }

  .animate__animated.animate__bounce {
    --animate-duration: 2s;
  }

  

 .loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin:0px auto;
  padding:10px 5px;
  
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.transisi1{
    transition: visibility 0s, opacity 0.5s linear;
}


.custom-header {
  font-weight: bold;
  font-size: 120%;
  text-align: center;
}
.custom-header2 {
  font-weight: bold;
  font-size: 0.95rem;
  text-align: center;
}
 
.modal-fullwidth {
  width: 95vw;
  max-width: 95vw;
}

.active-menu {
  background: rgba(255,255,255,0.15);
  border-left: 4px solid #f97316; /* orange */
  color: #fff;
}